@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-image: url("https://images.unsplash.com/photo-1519895710315-a04b64f04a36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    font-family: "Poppins", sans-serif;
    background-size: cover;
    color: #380036;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quiz-container {
    width: 20rem;
    height: 16rem;
    background-color: white;
    overflow: hidden;
}
.quiz-header {
    height: 10.5rem;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}
h2 {
    text-align: center;
    padding: 1rem;
    padding: 0;
    font-size: 1rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    font-size: 1rem;
    color: black;
}
ul li input {
    cursor: pointer;
}
.quiz-container button {
    background-color: #36096D;
    color: white;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #25064b;
}
h6 {
    text-align: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 1.76rem;
}